* {
    box-sizing: border-box;
}



h1 {
    padding-top: 0px;
    font-size: 32px;
    text-align: center;
    position: relative;
}

.center {
    text-align: center;
}

div#navbar {
    margin: auto;
    padding: auto;
    position:fixed;
    top:0px;
    left:0px;
    z-index:100000;
    width: 100%;
    background-color:rgb(74, 15, 163);
    height: 60px;
    opacity: 1.0;
    box-shadow: 0px 12px 18px rgba(19, 0, 182, 0.3);
}

#menuul {
    display: flex;
    justify-content:  space-evenly;
    padding: 20px 0px 0px 0px;
    margin:0;
    list-style: none;
    text-align: center;
    width: 100%;
}

#menuul a {
    font: Times;
    font-size: 30px;
    display: block;
    color:rgb(252, 252, 252);
    text-decoration: none;
    text-align: center;
}

a:link{
    color:purple;
    /* font-weight: bold; */
    text-decoration: none;
}

nav {
    float: left;
    width: 30%;
    background: #ccc;
    padding: 10px;
    display: block;
}

nav ul {
    list-style-type:circle;
    padding: 10;
    font-size: large;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.article {
    flex: 65%;
    padding: 15px;
}

.leftmenu {
    flex: 10%;
    padding: 15px;
    background-color: rgb(74, 15, 163);
}

header {
    background-color: #666;
    padding: 150px;
    text-align: center;
    font-size: 40px;
    color: white;
    height: 350px;
    font: fantasy;

    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2d/Sugar_Loaf_Winona.jpg" ); */
    background-position: 100%; 
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

#mySearch {
    width: 100%;
    font-size: 18px;
    margin-left: 6px;
    border: 1px solid #ddd;
}

.row {
    flex: 10%;
    margin-right: auto;
    display: flex;
}

.listt{
    background: linear-gradient(to right, rgb(53, 248, 4), rgb(125, 203, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: system-ui;
    font-weight: bold;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

             
.sec
{
    border: 2px solid royalblue;
    margin: 20px;
    background-color: aliceblue;               
}
.sectext
{
    background-color: rgb(74, 15, 163);
    margin-top: 0%;
    height: 40px;
    background: linear-gradient(to right, rgb(53, 248, 4), rgb(125, 203, 255));
    font-family: system-ui;
    font-weight: bold;
}
.sec>div
{
    border: 1px solid transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    width: 1000px;
    height: 190px;
  

    
    
    /* border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 8px 8px rgba(0,0,0,.15);*/
}
.treetext:hover
{
    box-shadow: 2px 5px 5px lightgray;
    
}
.treeimage
{
    width:130px; 
    height:150px; 
    border-radius: 25px; 
    box-shadow: 5px 5px 5px lightgray;
    position: absolute;
}
.treetext
{
    /* border: 1px solid black; */
    border-radius: 25px;
    box-shadow: 5px 10px 5px lightgray;
    background-color:beige;
    position: relative;
    height: 80%;
    width: 90%;
    margin-top: 10%;
    margin-left: 10%;
    padding-left: 43%;
    color: black;
    font-family: 'Trocchi', serif; 
    font-size: 20px; 
    font-weight: normal; 
    line-height: 48px; 
}                              
