* {
    box-sizing: border-box;
}

h1 {
    padding-top: 40px;
    font-size: 32px;
    text-align: center;
    position: relative;
}

.center {
    text-align: center;
}

div#navbar {
    margin: auto;
    padding: auto;
    position:fixed;
    top:0px;
    left:0px;
    z-index:100000;
    width: 100%;
    background-color:purple;
    height: 60px;
    opacity: 1.0;
    box-shadow: 0px 12px 18px rgba(19, 0, 182, 0.3);
}

#menuul {
    display: flex;
    justify-content:  space-evenly;
    padding: 20px 0px 0px 0px;
    margin:0;
    list-style: none;
    text-align: center;
    width: 100%;
}

#menuul a {
    font: Times;
    font-size: 30px;
    display: block;
    color:rgb(252, 252, 252);
    text-decoration: none;
    text-align: center;
}

a:link{
    color:#0b345e;
    /* font-weight: bold; */
    text-decoration: none;
}

nav {
    float: left;
    width: 30%;
    background: #ccc;
    padding: 10px;
    display: block;
}

nav ul {
    list-style-type:circle;
    padding: 10;
    font-size: large;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 40px;
    color: white;
    height: 1300px;
    
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2d/Sugar_Loaf_Winona.jpg" );
    background-position: 100%; 
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}

.row {
    display: flex;
}